html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.navbar {
    background-color: rgb(246, 231, 188) !important;
    color: rgb(11, 45, 114) !important;
}

.container {
    color: rgb(10, 196, 224);
}

.card {
    background-color: rgb(9, 146, 194);
    color: rgb(11, 45, 114);
}

    .card a {
        background-color: rgb(11, 45, 114);
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: rgb(10, 196, 224);
    margin-bottom: 60px;
    background-color: rgb(11, 45, 114);
}
