@model ProductsViewModel;
@{
    ViewData["Title"] = "Home Page";
}   

<div class="text-center">
    @if (!this.User.IsInRole("Admin"))
    {
        @if (!this.User.Identity.IsAuthenticated)
        {
            <h1 class="display-4">Welcome Anonymous! Login/Register to buy stuff</h1>
        }
        else
        {
            <h1 class="display-4">Welcome back! Check out those sick products:</h1>
        }
    }
    else
    {
        <h1 class="display-4">Welcome back Admin! Glad you are back.</h1>
    }

    <hr>
    <br />

    @if(Model.products.Count > 0)
    {
        @foreach (var product in Model.products.ToList())
        {
            if (!product.isDeleted)
            {
                <div class="card" style="width: 18rem;">
                    <img src="images/ProductImage.png" class="card-img-top" alt="@product.Name Image">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@String.Join("",product.Description.Take(25))...</p>
                        <a asp-controller="Product" asp-action="ProductPage" asp-route-id="@product.Id" class="btn btn-primary">See</a>
                    </div>
                </div>
            }
        }

    }
</div>
